{% extends 'base.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

{% endblock styles %}

{% block content %}
{% load crispy_forms_tags %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="POST" action="{% url 'submitquiz' %}">
                    {% csrf_token %}
                    
                    {% for i in questions %}
                    <div class="form-group">
                        <p id="question{{ forloop.counter }}"> Question: {{ i.question }}</p>
                        {% for o in i.all_answers %}
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="q{{ forloop.parentloop.counter }}_option{{ forloop.counter }}" name="{{ i.qid }}" value="{{ o }}">
                            <label class="form-check-label" for="q{{ forloop.parentloop.counter }}_option{{ forloop.counter }}">{{ o }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
{% endblock content %}